@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>
        <a asp-controller="Course" asp-action="Index">to the university</a>
    </h4>
</div>